body{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background: gray;
    color:whitesmoke;
}

input , button {
    padding:10px;
    margin:10px;
}
#gallery{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;

}
.card{
    background: #333;
    padding: 10px;
    margin:10px;
    border-radius:8px;}

